http_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
https_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
ftp_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"
HTTP_PROXY=http://{{ proxy.addr }}:{{ proxy.port }}/
HTTPS_PROXY=http://{{ proxy.addr }}:{{ proxy.port }}/
FTP_PROXY=http://{{ proxy.addr }}:{{ proxy.port }}/
NO_PROXY="localhost,127.0.0.1,localaddress,.localdomain.com"
