network:
  version: 2
  ethernets:
    {{ iface_name }}:
{% if vm_cfg.network is defined and vm_cfg.network.dhcp is defined and vm_cfg.network.dhcp %}
      dhcp4: true
{% else %}
      dhcp4: false
      addresses: [ "{{ vm_cfg.network.ip }}"/"{{ vm_cfg.network.mask }}" ]
{% if vm_cfg.network is defined and vm_cfg.network.gateway is defined and vm_cfg.network.gateway | length > 0 %}
      gateway4: {{ vm_cfg.network.gateway }}
{% endif %}
{% if dns_servers is defined %}
      nameservers:
        addresses: 
{% for s in dns_servers %}
{% if s.network is defined %}
          - {{ s.network.ip }} # {{ s.description }}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
