export http_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
export https_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
export npm_config_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
export npm_config_https_proxy=http://{{ proxy.addr }}:{{ proxy.port }}/
