[DEFAULT]
tmpfs         = -

user          = {{ generic_user.username }}
name          = {{ generic_user.description }}
pass          = {{ default_pwd }}
ssh-user-key  = {{ ssh_user_key }}

[ubuntu]
suite           = xenial
flavour         = virtual
components      = main, universe, restricted
mirror          = http://archive.ubuntu.com/ubuntu
security-mirror = http://security.ubuntu.com/ubuntu

; Need linux-image-generic for workaround for /proc/cpuinfo
; https://bugs.launchpad.net/ubuntu/+source/vm-builder/+bug/1037607
addpkg        = unattended-upgrades, openssh-server, acpid, linux-image-generic, bash-completion, man, vim, nano, htop, tmux, build-essential

[kvm]
libvirt       = qemu:///system
arch          = amd64
cpus          = {{ vm_cfg.vcpus }}

; br0 is the system bridge manually created.  virbr0 is the virtual network bridge created via virt-manager
#bridge        = br0
virtio_net    = true
timezone      = {{ timezone }}

# -memory 512
# -smp cpus=1
# -enable-kvm